.frontapp-odoo {
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.frontapp-odoo > div> input {
    margin-left: 10px;
    width: 260px;
}

.contact-list {
}

.contact {
    font-size: 14px;
    color: #111111;
    display: block;
    grid-template-columns: 30px auto 30px;
    opacity: 0.5;
    box-shadow: rgb(0 0 0 / 4%) 0px 1px 1px;
    border: 2px solid rgb(54, 127, 238);
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 5px;
}
.contact label {
    text-decoration: line-through;
}

.contact:hover {
    background-color: #def0ff;
}

.contact > input {
    margin: auto;
}

div.contact-info {
    font-size: 18px;
    margin-left: -20px;
}

.delete {
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.contact:hover .delete {
    opacity: 1;
}

.contact.linked {
    opacity: 1;
    text-decoration: none;
}
.contact.linked label {
    text-decoration: none;
}

.contact-panel {
    color: #0088ff;
    margin-top: 8px;
    font-size: 14px;
    display: flex;
}

.contact-panel .contact-counter {
    flex-grow: 1;
}

.contact-panel span {
    padding: 5px;
    cursor: pointer;
}

.contact-panel span.active {
    font-weight: bold;
}

.opportunity-list {
    margin-top: 10px;
    margin-bottom: 18px;
}

.pl-1 {
    padding-left: 0.25rem;
}

.ml-1 {
    margin-left: 10px;
}