.frontapp-odoo {
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.frontapp-odoo > div > input {
    margin-left: 10px;
    width: 250px;
    margin-bottom: 10px;
}

#error {
    margin: 5px;
    color: red;
}

.contact-list {
}

.contact {
    font-size: 14px;
    color: #111111;
    display: block;
    grid-template-columns: 30px auto 30px;
    opacity: 0.5;
    box-shadow: rgb(0 0 0 / 4%) 0px 1px 1px;
    border: 2px solid rgb(142, 181, 239);
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

.contact:hover {
    border: 2px solid rgb(54, 127, 238);
    opacity: 0.75;
}

.contact > input {
    margin: auto;
}

div.contact-info {
    font-size: 18px;
    margin-left: -10px;
}

.delete {
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.contact:hover .delete {
    opacity: 1;
}

.contact.linked {
    opacity: 1;
    text-decoration: none;
}
.contact.linked label {
    text-decoration: none;
}

span.tag {
    display: inline-flex;
    font-size: 12px;
    background-color: #eb7e7f;
    color: #ffffff;
    padding-right: 0.6em;
    padding-left: 0.6em;
    padding-top: 0.2em;
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 10rem;
}

.contact-panel {
    color: #0088ff;
    margin-top: 8px;
    font-size: 14px;
    display: block;
}

.contact-panel .contact-counter {
    flex-grow: 1;
}

.contact-panel span {
    padding: 5px;
    cursor: pointer;
}

.contact-panel span.active {
    font-weight: bold;
}

.note-list {
    margin-top: 20px;
}

.fa-comment {
    margin-top: 15px;
}

.fa-star {
    color: #bdbd01;
}

.note-date {
    margin-left: 5px;
}

.note-author {
    margin-left: 35px;
}

.note-create {
    margin-top: 10px;
    margin-bottom: -5px;
}

.note-create textarea {
    width: 215px;
}

.opportunity-list {
    margin-top: 10px;
    margin-bottom: 18px;
}

.opportunity-create input {
    width: 215px;
}

.pl-1 {
    padding-left: 0.25rem;
}

.ml-1 {
    margin-left: 10px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type="checkbox"].toggle {
    display: none;
}

.lbl-toggle {
    display: block;

    /*  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
*/
    background: #fff19a;

    cursor: pointer;

    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #7c5a0b;
}

.lbl-toggle::before {
    content: " ";
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);

    transition: transform 0.2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 150px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(250, 224, 66, 0.2);
    border-bottom: 1px solid rgba(250, 224, 66, 0.45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 0.5rem;
}
